version: 1.0.0 [release]

bot_token: 123123:qwerty
parse_mode: html

developer: "@awixa"
admin_url: t.me/awixa
owner: 123123123

vip_poll_interval: 2 # in seconds
default_poll_interval: 10 # in seconds
bach_size: 3 # batch users if send

vip_price: 99 # stars

redis:
  host: localhost
  port: 6379